@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik-Regular.woff);
}
@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik-Bold.woff);
  font-weight: bold;
}
body {
  font-family: Rubik;
}
ul.browser-default {
  padding-inline-start: 1rem;
}
.header {
  margin-bottom: 0;
}
.sub-header {
  margin-top: 0;
  margin-bottom: 2rem;
}
.divider {
  height: 0.25rem;
}
.part-header {
  margin-bottom: 0.5rem;
}
@media print {
  @page {
      size: A4 portrait;
  }
  body, .material-icons {
    font-size: 0.75rem;
  }
  div {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  h1 {
    font-size: 3.15rem;
  }
  h4 {
    font-size: 1.71rem;
  }
  h5 {
    font-size: 1.23rem;
  }
  h6 {
    font-size: 0.8625rem;
  }
  .no-print {
    display: none !important;
  }
}
