@font-face {
  font-family: Diavolo;
  src: url("../fonts/diavolo.regular.otf");
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  color: white;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAASUlEQVR4AbSOwQkAIAwDSyZQcA5BR+j+KLiQkkd9WfDTwpHSBBqUlLeHql4P8jkBwdqbeLCVeVhjCuGR6hHQkS9/gJVl2PaXHgAAAP//iEIhiwAAAAZJREFUAwDTuSzHdD2EOwAAAABJRU5ErkJggg==) repeat;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #aaa;
}

h1.site-title {
  position: fixed;
  top: calc(50% - 10rem);
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: "Diavolo", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16rem;
  font-weight: 400;
  mix-blend-mode: overlay;
}

p.main-header {
  position: absolute;
  left: 0;
  margin: 1rem;
  padding: 0;
  font-family: "Diavolo", cursive;
  font-size: 4rem;
  font-weight: 400;
}

nav.site-nav {
  position: absolute;
  right: 0;
  top: 0;
  margin: 2rem;
  height: 4rem;
  vertical-align: middle;
}
nav.site-nav>a {
  display: inline-block;
  margin: 1rem;
  text-align: center;
  text-transform: uppercase;
  height: 1.5rem;
}
nav.site-nav>a.active {
  border-bottom: 1px solid white;
}
nav.social-nav {
  position: fixed;
  bottom: 1.25rem;
  right: 1rem;
  font-size: 2rem;
}
nav.social-nav>a {
  display: block;
  margin: 1rem;
  height: 4rem;
  width: 4rem;
  text-align: center;
}
nav.social-nav>i {
  margin: 0;
  padding: 0;
}
nav.social-nav>a>p.sub {
  margin: 0;
  padding: 0;
  font-size: 0.5rem;
}

div.footer {
  position: fixed;
  bottom: 1rem;
  right: 1.5rem;
  font-size: 0.5rem;
  text-align: right;
}

div.graffitis {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 7rem;
  left: 2rem;
  width: calc(100% - 4rem);
}
div.graffitis>div.graffiti {
  height: 5rem;
  width: 5rem;
  margin: 0 1rem 0 1rem;
}
div.graffitis>div.graffiti>p.sub {
  font-size: 0.75rem;
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  top: 5rem;
}
div.graffitis>div.graffiti.cmu-logo {
  background: url("../images/cmu-mascot-1-color-w.png") no-repeat center;
  background-size: 5rem 5rem;
}
div.graffitis>div.graffiti.f5-logo {
  background: url("../images/F5-logo-F5-white.svg") no-repeat center;
  background-size: 4rem 4rem;
}
div.graffitis>div.graffiti.oracle-logo {
  background: url("../images/oracle-logo-white.png") no-repeat center;
  background-size: 5rem 1rem;
}
div.graffitis>div.graffiti.nitrr-logo {
  background: url("../images/nit-raipur-logo.png") no-repeat center;
  background-size: 5rem 5rem;
}
div.graffitis>div.graffiti.accenture-logo {
  background: url("../images/accenture-logo.svg") no-repeat center;
  background-size: 3rem 3rem;
}

div.content {
  position: absolute;
  left: 10rem;
  top: 8rem;
  width: calc(100% - 20rem);
  min-height: calc(100% - 15rem);
}
div.content>h1.title {
  position: absolute;
  top: 0;
  font-size: 3rem;
  margin: 0;
  padding: 0 0 1rem 0;
  width: 100%;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 1px solid white;
}
div.content>div {
  position: absolute;
}

div.content>div.contact-card {
  left: 5rem;
  top: 5rem;
  width: calc(100% - 10rem);
  height: 17.5rem;
}
div.content>div.contact-card>div.profile-image {
  position: absolute;
  left: calc(50% - 15rem);
  top: 3rem;
  width: 12rem;
  height: 12rem;
  margin: 0;
  padding: 0;
  background: url("../images/portfolio.jpg") no-repeat center;
  background-size: cover;
  border-radius: 50%;
}
div.content>div.contact-card>div.details {
  position: absolute;
  left: 50%;
  top: 1rem;
  width: calc(100% - 30rem);
}
div.content>div.contact-card>div.details>h1.name {
  position: absolute;
  left: 0;
  top: 2rem;
  display: block;
  width: 100%;
  text-align: left;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
div.content>div.contact-card>div.details>table.items {
  position: absolute;
  left: 0.5rem;
  top: 5rem;
  width: calc(100% - 4rem);
  font-size: 1rem;
}
div.content>div.contact-card>div.details>table.items tr.item {
  margin: 0 0 2rem 0;
}
div.content>div.contact-card>div.details>table.items tr.item>td.icon {
  width: 2rem;
}

div.content>div>div>h1.title {
  margin: 0 0 1.5rem 0;
  padding: 0 0 0.5rem 0;
  border-bottom: 1px solid white;
  font-size: 1.5rem;
  text-transform: uppercase;
}
div.content>div>div {
  position: relative;
  left: 0;
  top: 0;
  padding-bottom: 1rem;
  width: 100%;
}

div.content>div.left {
  position: absolute;
  left: 0;
  top: 23rem;
  width: calc(65% - 2.5rem);
  min-height: calc(100% - 23rem);
}
div.content>div.left>div.work>div.company {
  padding: 1rem 0 1rem 0;
}
div.content>div.left>div.work>div.company>h2.name {
  padding: 0 0 0.25rem 0;
  margin: 0;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}
div.content>div.left>div.work>div.company>table.metadata {
  padding-top: 0.5rem;
  font-size: 0.75rem;
}
div.content>div.left>div.work>div.company>ul.details {
  padding: 0.5rem 0 1.25rem 1.25rem;
  margin: 0;
}
div.content>div.left>div.work>div.company>ul.details>li {
  padding: 0.25rem 0 0 0;
}

div.content>div.right {
  position: absolute;
  left: calc(65% + 5rem);
  top: 23rem;
  width: calc(35% - 5rem);
  min-height: calc(100% - 23rem);
}