/*
  Font faces
*/
@font-face {
  font-family: Diavolo;
  src: url("../fonts/diavolo.regular.otf");
}

/*
  Variables
*/
:root {
  /* Primary Font */
  --primary-font-color: #000000;
  --primary-font-family: "Montserrat", sans-serif;
  --primary-font-optical-sizing: auto;
  --primary-font-size: 16px;
  --primary-font-style: normal;
  --primary-font-weight: 400;

  /* Other Colors */
  --anchor-hover-color: #aaaaaa;
}

/*
  Global Styles
*/
a {
  color: var(--primary-font-color);
  text-decoration: none;
}
a:hover {
  color: var(--anchor-hover-color);
}
h1, h2, h3, h4, h5, h6 {
  color: var(--primary-font-color);
  text-transform: uppercase;
}
div {
  padding: 0;
  margin: 0;
}

/*
  Body
*/
html, body {
  position: absolute;
  /* Font */
  color: var(--primary-font-color);
  font-family: var(--primary-font-family);
  font-optical-sizing: var(--primary-font-optical-sizing);
  font-size: var(--primary-font-size);
  font-style: var(--primary-font-style);
  font-weight: var(--primary-font-weight);
  /* Dimensions */
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  background: url("../images/wood.png") 25% 25% repeat;
}

/* Global Navigations */
h1.main-header {
  position: absolute;
  left: 0;
  margin: 1rem;
  padding: 0;
  font-family: "Diavolo", cursive;
  font-size: 4rem;
  font-weight: 400;
  background-image: url("../images/wood.png");
  background-clip: text;
  color: transparent;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.6), 1px 1px 1px rgba(255, 255, 255, 0.25);
}
div.site-navigation {
  position: absolute;
  display: block;
  right: 1rem;
  top: 1rem;
  background: url("../images/todo.svg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 21rem 25rem;
  width: 20rem;
  height: 30rem;
  z-index: 100;
}
div.site-navigation>h1.nav-header {
  position: absolute;
  top: 1.5rem;
  left: 5rem;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
}
div.site-navigation>nav.nav-links {
  display: block;
  margin: 4.8rem 0 0 5rem;
  height: 2rem;
}
div.site-navigation>nav.nav-links>a.nav-link {
  position: relative;
  display: block;
  margin: 0 0 1.25rem 0;
}
div.site-navigation>nav.nav-links>a.nav-link.active {
  font-weight: 600;
}
div.site-navigation>nav.nav-links>a.nav-link.active::before {
  position: absolute;
  top: 0;
  left: -1.9rem;
  content: "\2713 "; 
}
div.social-navigation {
  position: absolute;
  bottom: 1.25rem;
  right: 1rem;
  font-size: 2rem;
  z-index: 100;
  height: 15rem;
  width: 15rem;
}
div.social-navigation>nav.nav-links>a.nav-link {
  position: absolute;
  display: block;
  height: 5rem;
  width: 5rem;
  text-align: center;
  background-image: url("../images/sticky.svg");
  background-repeat: no-repeat;
  background-size: 5rem 5rem;
  text-shadow: 1px 1px 1px #bbbbbb;
  transition: transform 0.5s ease-in-out;
}
div.social-navigation>nav.nav-links>a.nav-link.linkedin {
  top: 1rem;
  left: 0;
  color: #0a66c2;
  transform: rotate(10deg);
}
div.social-navigation>nav.nav-links>a.nav-link.linkedin:hover {
  transform: scale(1.25) rotate(10deg);
}
div.social-navigation>nav.nav-links>a.nav-link.github {
  top: 6rem;
  left: 4rem;
  color: #4078c0;
  margin-left: 4rem;
  transform: rotate(-10deg);
}
div.social-navigation>nav.nav-links>a.nav-link.github:hover {
  transform: scale(1.25) rotate(-10deg);
}
div.social-navigation>nav.nav-links>a.nav-link.instagram {
  top: -1rem;
  left: 7rem;
  color: #e1306c;
  margin-left: 0rem;
  transform: rotate(10deg);
}
div.social-navigation>nav.nav-links>a.nav-link.instagram:hover {
  transform: scale(1.25) rotate(10deg);
}
div.social-navigation>nav.nav-links>a.nav-link.mail {
  top: 7rem;
  left: -2rem;
  color: #444444;
  margin-left: 3rem;
  transform: rotate(10deg);
}
div.social-navigation>nav.nav-links>a.nav-link.mail:hover {
  transform: scale(1.25) rotate(10deg);
}
div.social-navigation>nav.nav-links>a.nav-link>i {
  margin: 0;
  padding: 1rem 0 0 0;
  transform: rotate(1deg);
}
div.social-navigation>nav.nav-links>a.nav-link>p.sub {
  margin: 0;
  padding: 0;
  font-size: 0.5rem;
  transform: rotate(1deg);
}
div.footer {
  position: absolute;
  bottom: 1rem;
  right: 2.5rem;
  font-size: 0.75rem;
  text-align: right;
  background-image: url("../images/wood.png");
  background-clip: text;
  color: transparent;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25), 1px 1px 1px rgba(255, 255, 255, 1);
}

/* Global Styles */
div.canvas {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
}
div.photo-frame {
  position: absolute;
  background: url("../images/frame.svg") no-repeat;
  background-position: center center;
  background-size: 21rem 15rem;
  height: 20rem;
  width: 15rem;
}
div.photo-frame>img {
  position: absolute;
  top: 58px;
  left: 38px;
  height: 164px;
  width: 164px;
}

/* Home Page */
h1.site-title {
  position: fixed;
  top: calc(50% - 10rem);
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: "Diavolo", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16rem;
  font-weight: 400;
  background-image: url("../images/wood.png");
  background-clip: text;
  color: transparent;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5), 1px 1px 1px rgba(255, 255, 255, 0.25);
  z-index: -1;
}
div.canvas>div.national-park {
  position: absolute;
  height: 5rem;
  width: 5rem;
  transition: transform 0.5s ease-in-out;
}
div.canvas>div.national-park.yosemite-logo {
  background: url("../images/yosemite-np.png") no-repeat center;
  background-size: 5rem 5rem;
  top: 9rem;
  left: 4rem;
  transform: rotate(10deg);
  transition: transform 0.5s ease-in-out;
}
div.canvas>div.national-park.yosemite-logo:hover {
  transform: scale(1.5) rotate(10deg);
}
div.canvas>div.national-park.lassen-volcanic-logo {
  background: url("../images/lassen-volcanic-np.png") no-repeat center;
  background-size: 5rem 5rem;
  top: 4rem;
  right: 25rem;
  transform: rotate(-10deg);
  transition: transform 0.5s ease-in-out;
}
div.canvas>div.national-park.lassen-volcanic-logo:hover {
  transform: scale(1.5) rotate(-10deg);
}
div.canvas>div.national-park.kings-canyon-logo {
  background: url("../images/kings-canyon-np.png") no-repeat center;
  background-size: 5rem 5rem;
  top: 22rem;
  left: 25rem;
  transform: rotate(-20deg);
  transition: transform 0.5s ease-in-out;
}
div.canvas>div.national-park.kings-canyon-logo:hover {
  transform: scale(1.5) rotate(-20deg);
}
div.canvas>div.national-park.pinnacles-logo {
  background: url("../images/pinnacles-np.png") no-repeat center;
  background-size: 5rem 5rem;
  bottom: 10rem;
  left: 18rem;
  transform: rotate(10deg);
  transition: transform 0.5s ease-in-out;
}
div.canvas>div.national-park.pinnacles-logo:hover {
  transform: scale(1.5) rotate(10deg);
}
div.canvas>div.national-park.crater-lake-logo {
  background: url("../images/crater-lake-np.png") no-repeat center;
  background-size: 5rem 5rem;
  bottom: 10rem;
  right: 30rem;
  transform: rotate(-20deg);
  transition: transform 0.5s ease-in-out;
}
div.canvas>div.national-park.crater-lake-logo:hover {
  transform: scale(1.5) rotate(-20deg);
}

div.canvas>div.photo-frame {
  top: calc(50% - 5rem);
  left: calc(50% - 15rem);
  transform: rotate(-5deg);
}
div.canvas>div.sticky {
  background-image: url("../images/sticky-note.svg");
  background-repeat: no-repeat;
  background-size: 15rem 15rem;
}
div.canvas>div.sticky>h1.title {
  text-transform: none;
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
div.canvas>div.sticky>p {
  font-size: 0.8rem;
  margin: 1rem 0 0 0;
}
div.canvas>div.about-me {
  position: absolute;
  top: calc(50% - 13rem);
  left: calc(50% - 5rem);
  height: 15rem;
  width: 15rem;
  transform: rotate(15deg);
  padding: 1.75rem 0 0 1.75rem;
}

/* 
  Title - Page Content
  Description - Used to show page content on a page
  Style - 
  <div class="page-content">
    <h1 class="content-title"></h1>
  </div>
*/
div.canvas>div.page-content {
  position: relative;
  left: 10rem;
  top: 8rem;
  width: 65rem;
  height: 76rem;
  background: url("../images/paper.svg") no-repeat;
  background-size: 100%;
}
div.canvas>div.page-content>h1.content-title {
  position: relative;
  font-size: 3rem;
  margin: 0 0 0 2rem;
  padding: 3rem 0 0 0;
  width: calc(100% - 4.75rem);
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 3px solid #BBBBBB;
}
div.canvas>div.page-content>div.photo-frame {
  top: 0;
  right: 2.5rem;
  transform: rotate(10deg);
}
div.canvas>div.page-content>div.contact-card {
  position: relative;
  padding: 1rem 0 0 0;
}
div.canvas>div.page-content>div.contact-card>div.details {
  position: relative;
  padding: 1rem 2rem 2rem 2rem;
  margin: 0 3rem 0 2rem;
  border-bottom: 1.5px solid #C0C0C0;
}
div.canvas>div.page-content>div.contact-card>div.details>h1.name {
  position: relative;
  display: block;
  width: 100%;
  text-align: left;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0;
  margin: 0;
}
div.canvas>div.page-content>div.contact-card>div.details>table.items {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  font-size: 0.9rem;
  padding: 0 1rem 1rem 0;
}
div.canvas>div.page-content>div.contact-card>div.details>table.items tr.item {
  margin: 0 0 2rem 0;
}
div.canvas>div.page-content>div.contact-card>div.details>table.items tr.item>td.icon {
  width: 2rem;
}
div.canvas>div.page-content div.page-details {
  position: relative;
}
div.canvas>div.page-content h1.title {
  margin: 0;
  padding: 0 0 1rem 0;
  font-size: 1.5rem;
  font-weight: 500;
}
div.canvas>div.page-content>div.page-details div.grid-data {
  padding: 1rem 4rem 0 4rem;
}
div.canvas>div.page-content>div.page-details div.grid-data>div.company {
  position: relative;
}
div.canvas>div.page-content>div.page-details div.grid-data>div.company>h2.name {
  padding: 1rem 0 0.25rem 0;
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}
div.canvas>div.page-content>div.page-details div.grid-data>div.company>div.logo {
  position: absolute;
  display: block;
  right: 0;
  top: 1rem;
  height: 5rem;
  width: 5rem;
  transition: transform 0.5s ease-in-out;
}
div.canvas>div.page-content>div.page-details div.grid-data>div.company>div.logo>img {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 3rem;
  height: 3rem;
}
div.canvas>div.page-content>div.page-details div.grid-data>div.company>div.logo:hover {
  transform: scale(1.5);
}
div.canvas>div.page-content>div.page-details div.grid-data>div.company>table.metadata {
  padding: 0 0 0.25rem 0.25rem;
  font-size: 0.75rem;
}
div.canvas>div.page-content>div.page-details div.grid-data>div.company>ul.details {
  padding: 0 0 1.5rem 1.5rem;
  margin: 0;
  font-size: 0.9rem;
  line-height: 1.25rem;
  text-align: justify;
}
div.canvas>div.page-content>div.page-details div.grid-data>div.company>ul.details>li {
  padding: 0.25rem 0 0 0;
}
div.canvas>div.page-content>div.page-details div.grid-data>div.company>ul.details>li>a {
  text-decoration: underline;
}
div.canvas>div.page-content>div.page-details div.grid-data>div.college {
  position: relative;
}
div.canvas>div.page-content>div.page-details div.grid-data>div.college>h2.name {
  padding: 1rem 0 0.25rem 0;
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}
div.canvas>div.page-content>div.page-details div.grid-data>div.college>div.logo {
  position: absolute;
  display: block;
  right: 0;
  top: 0rem;
  height: 5rem;
  width: 5rem;
  transition: transform 0.5s ease-in-out;
}
div.canvas>div.page-content>div.page-details div.grid-data>div.college>div.logo>img {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 3rem;
  height: 3rem;
}
div.canvas>div.page-content>div.page-details div.grid-data>div.college>div.logo:hover {
  transform: scale(1.5);
}
div.canvas>div.page-content>div.page-details div.grid-data>div.college>table.metadata {
  padding: 0 0 0.25rem 0.25rem;
  font-size: 0.75rem;
}
div.canvas>div.page-content>div.page-footer {
  position: absolute;
  bottom: 4.5rem;
  right: 2rem;
  font-size: 0.75rem;
}